 .container{
  white-space: pre-line;
  background-color: #242835;
  padding-top: 24px;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: flex;
   
}

.cursor {
  background-color: darkgray;
  animation: blinking 1.2s linear infinite;
}

@keyframes blinking {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}